{% extends 'layout.html.twig' %}
{% block title %}
Ajouter un Item

{% endblock %}


{% block content %}
    <h1>Ajouter un Item</h1>
    <form action="" method="POST">
        <input type="text" name="title">

        <input type="submit" value="submit" name="submit">


    </form>


{% endblock %}
