{% extends 'layout.html.twig' %}
{% block title %}
    Ajouter une Category

{% endblock %}


{% block content %}
    <h1>Ajouter une Category</h1>
    <form action="" method="POST">
        <input type="text" name="name">

        <input type="submit" value="submit" name="submit">


    </form>


{% endblock %}